{% extends "base.html" %}

{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'posts.css' %}">
<meta property="description" content="{{post.description}}" />
<meta property="author" content="{{post.author.first_name}} {{post.author.last_name}}" />

<!-- Open Graph data -->
<meta property="og:title" content="{{post.title}}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://cwshevl.in/posts/{{post.slug}}" />
<meta property="og:description" content="{{post.description}}" />
<meta property="og:site_name" content="Colin's Web Site" />
<meta property="article:published_time" content="{{post.created_at}}" />
<meta property="article:modified_time" content="{{post.updated_at}}" />

{% for tag in tags %}
<meta property="article:tag" content="{{tag.name}}" />
{% endfor %}

{% endblock %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
    <h1 class="post-title">{{ post.title }}</h1>
    <p class="post-body">
        {% autoescape off %}
            {{ body | safe }}
        {% endautoescape %}
    </p>

{% if tags %}
    <footer class="tags">
        {% for tag in tags %}
        <a class="post-tag" href="/tags/{{tag.name | slugify }}">{{ tag.name }}</a>
        {% endfor %}
    </footer>
{% endif %}
{% endblock %}
