@font-face {
    font-family: 'Chicago';
    src: url('Chicago.eot');
    src: url('Chicago.eot?#iefix') format('embedded-opentype'),
        url('Chicago.woff2') format('woff2'),
        url('Chicago.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: serif;
    color: #333;
    background-color: #fafafa;
}


#top-nav {
    overflow-x: scroll;
}

#top-nav > ul > li {
    display: inline-block;
    margin-right: 2em;
}

#content {
    margin: 0 auto;
    max-width: 500px;
}

img {
    margin: 0 auto;
    display: block;
}