body {
    font-family: serif;
    color: #333;
    background-color: #fafafa;
}


#top-nav {
    overflow-x: scroll;
}

#top-nav > ul > li {
    display: inline-block;
    margin-right: 2em;
}

#content {
    margin: 0 auto;
    max-width: 500px;
}

img {
    margin: 0 auto;
    display: block;
}

/* What */