body {
    font-family: serif;
    color: #333;
    background-color: #fafafa;
}

.dark-mode {
    background-color: #15202b;
    color: #fff;
}

.dark-mode a {
    color: #1b95e0;
}

.dark-mode a:visited {
    color: #817191;
}

#top-nav {
    overflow-x: scroll;
}

#top-nav > ul > li {
    display: inline-block;
    margin-right: 2em;
}

#content {
    margin: 0 auto;
    max-width: 500px;
}

img {
    margin: 0 auto;
    display: block;
}

/* What */