<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Home{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    {% block styles %}
    {% endblock %}
</head>

<body>
<div id="top-nav">
    {% block sidebar %}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/tags">Tags</a></li>
    </ul>
    {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
