{% extends "base.html" %}
{% load static %}

{% block title %}Colin's web site{% endblock %}

{% block content %}
<h1>my web site</h1>
<img src="https://i.imgur.com/WxPgyfU.png" width="200" alt="A selfie of Colin">
<p>I'm Colin. I'm a technologist from the midwest.</p>
<p>I've spent most of my career building technology that is education-related. I have experience leading engineering teams on a variety of platforms. 
    What teams make with technology is more important to me than what technology they use to make it.</p>
<p>I recently was part of a batch at the <a href="https://www.recurse.com/">Recurse Center</a> working on real-time networking in Rust. 
    This continues to be my main focus, so if you are similarly inclined you should DM me. </p>
<p>Currently I work at <a href="https://twitter.com/classkick">Classkick</a>,
    an education tech company based in Chicago. I'm most excited about learning about game making and pixel art right now.
    I like to run, ride bikes, camp, and learn languages. I main Dedede.
</p>
<p>
    You can also find me on <a href="https://twitter.com/cwshevlin">Twitter</a> if that's your thing. I mostly tweet about technology and bike infrastructure.
</p>
{% endblock %}
