{% extends "base.html" %}
{% load static %}

{% block title %}Colin's Web Site{% endblock %}

{% block content %}
<h1>my web site</h1>
<img src="https://i.imgur.com/WxPgyfU.png" width="200" alt="A selfie of Colin">
<p>I'm Colin. I'm a technologist from the midwest.</p>
<p>I've spent most of my career building technology that is education-related. I have experience leading engineering on
    teams that have some traction from an MVP and are ready for growth in both their tech stack and
    and their engineering organization.</p>
<p>Currently I work at <a href="https://twitter.com/classkick">Classkick</a>,
    an education tech company based in Chicago. I'm most excited about learning about game making and pixel art right now.
    I like to run, ride bikes, camp, and learn languages. I main Dedede.
</p>
<p>
    You can also find me on <a href="https://twitter.com/cwshevlin">Twitter</a> if that's your thing. I mostly tweet about technology and bike infrastructure.
</p>
{% endblock %}
